body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    background-color: aquamarine;
}

nav > ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;
}

nav > ul > li{
    float: left;
    position: relative;
}
nav > ul::after{
    content: "";
    display: table;
    clear: both;
    text-align: center;
}
.submenu{
    display: none;
}
nav input[type=checkbox]{
    display: none;
}
nav label{
    display: none;
}
nav h4{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: rgb(22, 22, 22);
}
nav > ul > li > h4{

    color: rgb(20, 20, 20);
    text-align: center;
}
@media screen and (max-width: 780px){
    .menu-mobile{
        display: block;
        color: rgb(20, 19, 19);
        background-color:aquamarine;
        text-align: center;
        padding: 12px 0px;
    }
    nav ul{
        display: none;
    }
}